{
  "openapi": "3.1.0",
  "info": {
    "title": "TryPost API",
    "version": "2.0.0",
    "description": "REST API for TryPost. Authenticate with a workspace API key as a Bearer token."
  },
  "servers": [
    {
      "url": "https://app.trypost.it/api",
      "description": "TryPost Cloud"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Posts",
      "description": "Create, read, update, delete and preview posts."
    },
    {
      "name": "Post notes",
      "description": "Internal notes on a post, visible to workspace members."
    },
    {
      "name": "Approvals",
      "description": "Approve or reject posts waiting for approval."
    },
    {
      "name": "Recurrence",
      "description": "Make a post repeat on a schedule."
    },
    {
      "name": "Media and uploads",
      "description": "Upload files and attach media to posts."
    },
    {
      "name": "Social accounts",
      "description": "Connected social accounts and their network-specific options."
    },
    {
      "name": "Channels",
      "description": "A channel's posting schedule and queue."
    },
    {
      "name": "Ideas",
      "description": "Ideas on the Create board."
    },
    {
      "name": "Idea stages",
      "description": "The groups (columns) of the ideas board."
    },
    {
      "name": "Analytics",
      "description": "Workspace and channel insights."
    },
    {
      "name": "Labels",
      "description": "Labels to organize posts and ideas."
    },
    {
      "name": "Signatures",
      "description": "Reusable text to append to posts."
    },
    {
      "name": "Workspace",
      "description": "The workspace the API key belongs to."
    },
    {
      "name": "API keys",
      "description": "Personal API keys for this workspace."
    },
    {
      "name": "Webhooks",
      "description": "Outgoing webhooks and their delivery logs."
    },
    {
      "name": "Repurposes",
      "description": "Automations that republish videos posted outside TryPost."
    },
    {
      "name": "Platform",
      "description": "Platform capabilities and content types."
    }
  ],
  "paths": {
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List posts",
        "operationId": "listPosts",
        "description": "Lists the workspace's posts: posts without a time first, then by scheduled time, latest first, with their destinations and labels. Pending approval requests of other members are included (API keys belong to admins, who can approve). Page size is set by the server: read `meta.per_page`.",
        "parameters": [
          {
            "name": "channels[]",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "description": "Only posts on these social accounts. Values that are not UUIDs are ignored. When no value is a UUID, the filter is not applied.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "labels[]",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "description": "Only posts with any of these labels. Values that are not UUIDs are ignored. When no value is a UUID, the filter is not applied.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "untagged",
            "in": "query",
            "required": false,
            "description": "Only posts without labels (combined with `labels[]`, posts matching either).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of posts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                      "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                      "author": {
                        "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                        "name": "Ana Souza"
                      },
                      "content": "We just shipped scheduled threads. Here is how they work.",
                      "media": [
                        {
                          "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                          "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                          "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                          "type": "image",
                          "mime_type": "image/jpeg",
                          "original_filename": "launch.jpg",
                          "size": 482113,
                          "meta": {
                            "width": 1080,
                            "height": 1350,
                            "alt_text": "Product launch banner"
                          }
                        }
                      ],
                      "status": "scheduled",
                      "schedule_mode": "custom",
                      "scheduled_at": "2026-10-12 14:00:00",
                      "published_at": null,
                      "approval_requested_by": null,
                      "approval_requested_at": null,
                      "approved_by": null,
                      "approved_at": null,
                      "recurrence": null,
                      "origin": "trypost",
                      "platforms": [
                        {
                          "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                          "platform": "x",
                          "content_type": "x_post",
                          "meta": {
                            "thread_replies": [
                              {
                                "text": "2/ Replies publish under the first post.",
                                "media": []
                              }
                            ]
                          },
                          "status": "pending",
                          "enabled": true,
                          "platform_url": null,
                          "published_at": null,
                          "error_message": null,
                          "display_name": "TryPost",
                          "display_username": "trypostit",
                          "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                          "social_account": {
                            "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                            "platform": "x",
                            "display_name": "TryPost",
                            "username": "trypostit",
                            "status": "connected",
                            "has_posting_schedule": true,
                            "timezone": "America/Sao_Paulo",
                            "posting_goal": 5,
                            "max_content_length": 280,
                            "long_posts": false,
                            "verified_badge": null
                          }
                        }
                      ],
                      "labels": [
                        {
                          "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                          "name": "Launch",
                          "color": "#2563EB",
                          "created_at": "2026-09-01 10:00:00",
                          "updated_at": "2026-09-01 10:00:00"
                        }
                      ],
                      "created_at": "2026-10-08 13:20:11",
                      "updated_at": "2026-10-08 13:20:11"
                    }
                  ],
                  "links": {
                    "first": "https://app.trypost.it/api/posts?page=1",
                    "last": "https://app.trypost.it/api/posts?page=1",
                    "prev": null,
                    "next": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {
                        "url": null,
                        "label": "&laquo; Previous",
                        "page": null,
                        "active": false
                      },
                      {
                        "url": "https://app.trypost.it/api/posts?page=1",
                        "label": "1",
                        "page": 1,
                        "active": true
                      },
                      {
                        "url": null,
                        "label": "Next &raquo;",
                        "page": null,
                        "active": false
                      }
                    ],
                    "path": "https://app.trypost.it/api/posts",
                    "per_page": 25,
                    "to": 1,
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create post",
        "operationId": "createPost",
        "description": "Creates one post on one social account.\n\n- `status: draft` (default) saves a draft.\n- `status: scheduled` with `scheduled_at` schedules it at that time; with `queue` (`next` or `top`) it takes a slot of the channel's posting schedule; with `queue_slot` it takes that exact free slot (from `GET /channels/{account}/queue/slots`).\n- `status: publishing` publishes it now.\n\nOmitted `content_type` is chosen like the app does: on Pinterest a video makes `pinterest_video_pin` and several images `pinterest_carousel`, on TikTok images only make `tiktok_photo`, every other network takes its default format.\n\nTo schedule or publish, the destination needs its required settings in `platforms[].meta` (see `PlatformMeta`). API keys belong to workspace admins, who publish directly, so a post created through the API is never stored as `pending_approval`.\n\nTo post the same text on several channels at once, use `POST /posts/batch`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platforms"
                ],
                "properties": {
                  "content": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 25000,
                    "description": "Post text, at most 25000 characters. When `status` is `scheduled` or `publishing` it must also fit each account's limit (`max_content_length` of the social account, for example 280 on X or 25000 for X accounts with long posts, 300 on Bluesky, 500 on Mastodon including the content warning), measured on the text the network receives. A scheduled or published post needs text or media."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MediaReference"
                    },
                    "description": "Media in order. Each item is one of `upload_token`, `url` or `id`. Types the channel does not accept are refused."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled",
                      "publishing"
                    ],
                    "description": "`draft` keeps the post editable. `scheduled` schedules it at `scheduled_at` or in the channel queue (`queue`). `publishing` publishes it now.",
                    "default": "draft"
                  },
                  "platforms": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Exactly one destination.",
                    "items": {
                      "type": "object",
                      "required": [
                        "social_account_id"
                      ],
                      "properties": {
                        "social_account_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Social account of this workspace."
                        },
                        "content_type": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/ContentType"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Format; must belong to the account's network. Omitted, it is chosen from the media."
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PlatformMeta"
                        }
                      }
                    }
                  },
                  "scheduled_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "When to publish, for `status: scheduled`. Any date string; must be in the future and before `2038-01-19`. Cannot be combined with `queue`. Required with `status: scheduled` unless `queue` or `queue_slot` is sent."
                  },
                  "queue": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "next",
                      "top",
                      null
                    ],
                    "description": "Queue position, only with `status: scheduled`. `next` takes the channel's first free slot; `top` takes its first slot and moves the queued posts behind it to the next gap. The channel must have posting times (`has_posting_schedule`). Cannot be combined with `scheduled_at`."
                  },
                  "queue_slot": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "Instant of one free slot from `GET /channels/{account}/queue/slots`, only with `status: scheduled`. Stores the post as a queue post in that slot; refused when the slot is taken or held by a pending approval request. Before `2038-01-19`. Cannot be combined with `queue`. Takes the place of `scheduled_at` when both are sent."
                  },
                  "label_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Labels of this workspace."
                  }
                }
              },
              "example": {
                "content": "We just shipped scheduled threads. Here is how they work.",
                "status": "scheduled",
                "scheduled_at": "2026-10-12T14:00:00Z",
                "media": [
                  {
                    "url": "https://example.com/launch.jpg",
                    "alt": "Product launch banner"
                  }
                ],
                "platforms": [
                  {
                    "social_account_id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                    "content_type": "x_post",
                    "meta": {
                      "thread_replies": [
                        {
                          "text": "2/ Replies publish under the first post."
                        }
                      ]
                    }
                  }
                ],
                "label_ids": [
                  "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "content": "We just shipped scheduled threads. Here is how they work.",
                  "media": [
                    {
                      "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                      "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "type": "image",
                      "mime_type": "image/jpeg",
                      "original_filename": "launch.jpg",
                      "size": 482113,
                      "meta": {
                        "width": 1080,
                        "height": 1350,
                        "alt_text": "Product launch banner"
                      }
                    }
                  ],
                  "status": "scheduled",
                  "schedule_mode": "custom",
                  "scheduled_at": "2026-10-12 14:00:00",
                  "published_at": null,
                  "approval_requested_by": null,
                  "approval_requested_at": null,
                  "approved_by": null,
                  "approved_at": null,
                  "recurrence": null,
                  "origin": "trypost",
                  "platforms": [
                    {
                      "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "meta": {
                        "thread_replies": [
                          {
                            "text": "2/ Replies publish under the first post.",
                            "media": []
                          }
                        ]
                      },
                      "status": "pending",
                      "enabled": true,
                      "platform_url": null,
                      "published_at": null,
                      "error_message": null,
                      "display_name": "TryPost",
                      "display_username": "trypostit",
                      "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                      "social_account": {
                        "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                        "platform": "x",
                        "display_name": "TryPost",
                        "username": "trypostit",
                        "status": "connected",
                        "has_posting_schedule": true,
                        "timezone": "America/Sao_Paulo",
                        "posting_goal": 5,
                        "max_content_length": 280,
                        "long_posts": false,
                        "verified_badge": null
                      }
                    }
                  ],
                  "labels": [
                    {
                      "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                      "name": "Launch",
                      "color": "#2563EB",
                      "created_at": "2026-09-01 10:00:00",
                      "updated_at": "2026-09-01 10:00:00"
                    }
                  ],
                  "created_at": "2026-10-08 13:20:11",
                  "updated_at": "2026-10-08 13:20:11"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/batch": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create posts in batch",
        "operationId": "createPostsInBatch",
        "description": "Creates one independent post per destination, as the app does when several channels are selected. The posts share a `post_group_id`. Each destination may override the shared `content`, `media`, `content_type` and `meta`.\n\n`status: scheduled` schedules every post at `scheduled_at` or in each channel's queue (`queue: next` or `top`). One specific slot (`queue_slot`) is not taken here: use `POST /posts` or `PUT /channels/{account}/queue/slot`.\n\n`destinations[].meta` follows the same per-network rules as `platforms[].meta` (see `PlatformMeta`), checked with the destination's network; errors are reported on `destinations.N.meta.*`. To schedule or publish, every destination needs its required settings and text or media. API keys belong to workspace admins, so these posts are never stored as `pending_approval`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status",
                  "destinations"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled",
                      "publishing"
                    ],
                    "description": "`draft` keeps the post editable. `scheduled` schedules it at `scheduled_at` or in the channel queue (`queue`). `publishing` publishes it now."
                  },
                  "content": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 25000,
                    "description": "Shared text, at most 25000 characters. When `status` is `scheduled` or `publishing` it must also fit each account's limit (`max_content_length` of the social account, for example 280 on X or 25000 for X accounts with long posts, 300 on Bluesky, 500 on Mastodon including the content warning), measured on the text the network receives. A scheduled or published post needs text or media."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MediaReference"
                    },
                    "description": "Shared media. Media in order. Each item is one of `upload_token`, `url` or `id`. Types the channel does not accept are refused."
                  },
                  "scheduled_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "When to publish, for `status: scheduled`. Any date string; must be in the future and before `2038-01-19`. Cannot be combined with `queue`. Required with `status: scheduled` unless `queue` is sent."
                  },
                  "queue": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "next",
                      "top",
                      null
                    ],
                    "description": "Queue position, only with `status: scheduled`. `next` takes the channel's first free slot; `top` takes its first slot and moves the queued posts behind it to the next gap. Every channel must have posting times (`has_posting_schedule`). Cannot be combined with `scheduled_at`."
                  },
                  "label_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Labels of this workspace."
                  },
                  "destinations": {
                    "type": "array",
                    "minItems": 1,
                    "description": "One entry per social account; each account at most once.",
                    "items": {
                      "type": "object",
                      "required": [
                        "social_account_id"
                      ],
                      "properties": {
                        "social_account_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "content_type": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/ContentType"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Must belong to the account's network. Omitted, it is chosen from the media."
                        },
                        "content": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "maxLength": 25000,
                          "description": "Replaces the shared text for this destination."
                        },
                        "media": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MediaReference"
                          },
                          "description": "Replaces the shared media for this destination. An item without alt text takes the alt text of the same shared item."
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PlatformMeta"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "status": "scheduled",
                "queue": "next",
                "content": "Our October changelog is live.",
                "media": [
                  {
                    "upload_token": "4f6c2b1e-8d3a-4e5f-9a7b-1c2d3e4f5a6b",
                    "alt": "Changelog cover"
                  }
                ],
                "destinations": [
                  {
                    "social_account_id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                    "content_type": "x_post"
                  },
                  {
                    "social_account_id": "9c8b7a65-5e4f-4a3b-9c2d-1e0f9a8b7c65",
                    "content_type": "pinterest_pin",
                    "content": "Everything we shipped in October, in one pin.",
                    "meta": {
                      "board_id": "1022106146620830917",
                      "title": "October changelog",
                      "link": "https://trypost.it/changelog"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created posts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                },
                "example": {
                  "posts": [
                    {
                      "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                      "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                      "author": {
                        "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                        "name": "Ana Souza"
                      },
                      "content": "Our October changelog is live.",
                      "media": [
                        {
                          "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                          "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                          "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                          "type": "image",
                          "mime_type": "image/jpeg",
                          "original_filename": "launch.jpg",
                          "size": 482113,
                          "meta": {
                            "width": 1080,
                            "height": 1350,
                            "alt_text": "Changelog cover"
                          }
                        }
                      ],
                      "status": "scheduled",
                      "schedule_mode": "queue",
                      "scheduled_at": "2026-10-12 14:00:00",
                      "published_at": null,
                      "approval_requested_by": null,
                      "approval_requested_at": null,
                      "approved_by": null,
                      "approved_at": null,
                      "recurrence": null,
                      "origin": "trypost",
                      "platforms": [
                        {
                          "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                          "platform": "x",
                          "content_type": "x_post",
                          "meta": {
                            "thread_replies": [
                              {
                                "text": "2/ Replies publish under the first post.",
                                "media": []
                              }
                            ]
                          },
                          "status": "pending",
                          "enabled": true,
                          "platform_url": null,
                          "published_at": null,
                          "error_message": null,
                          "display_name": "TryPost",
                          "display_username": "trypostit",
                          "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                          "social_account": {
                            "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                            "platform": "x",
                            "display_name": "TryPost",
                            "username": "trypostit",
                            "status": "connected",
                            "has_posting_schedule": true,
                            "timezone": "America/Sao_Paulo",
                            "posting_goal": 5,
                            "max_content_length": 280,
                            "long_posts": false,
                            "verified_badge": null
                          }
                        }
                      ],
                      "labels": [
                        {
                          "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                          "name": "Launch",
                          "color": "#2563EB",
                          "created_at": "2026-09-01 10:00:00",
                          "updated_at": "2026-09-01 10:00:00"
                        }
                      ],
                      "created_at": "2026-10-08 13:20:11",
                      "updated_at": "2026-10-08 13:20:11"
                    },
                    {
                      "id": "9d3c1f2a-7c5f-4d9b-8e2f-3b8c6d9e1f52",
                      "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                      "author": {
                        "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                        "name": "Ana Souza"
                      },
                      "content": "Everything we shipped in October, in one pin.",
                      "media": [
                        {
                          "id": "9d3c1f31-9b0c-4d1e-8f2a-3b4c5d6e7f80",
                          "path": "medias/9d3c1f31-9b0c-4d1e-8f2a-3b4c5d6e7f80.jpg",
                          "url": "https://media.trypost.it/medias/9d3c1f31-9b0c-4d1e-8f2a-3b4c5d6e7f80.jpg",
                          "type": "image",
                          "mime_type": "image/jpeg",
                          "original_filename": "launch.jpg",
                          "size": 482113,
                          "meta": {
                            "width": 1080,
                            "height": 1350,
                            "alt_text": "Changelog cover"
                          }
                        }
                      ],
                      "status": "scheduled",
                      "schedule_mode": "queue",
                      "scheduled_at": "2026-10-12 14:00:00",
                      "published_at": null,
                      "approval_requested_by": null,
                      "approval_requested_at": null,
                      "approved_by": null,
                      "approved_at": null,
                      "recurrence": null,
                      "origin": "trypost",
                      "platforms": [
                        {
                          "id": "9d3c1f2b-2b3c-4d4e-9f5a-6b7c8d9e0f21",
                          "platform": "pinterest",
                          "content_type": "pinterest_pin",
                          "meta": {
                            "board_id": "1022106146620830917",
                            "title": "October changelog",
                            "link": "https://trypost.it/changelog"
                          },
                          "status": "pending",
                          "enabled": true,
                          "platform_url": null,
                          "published_at": null,
                          "error_message": null,
                          "display_name": "TryPost",
                          "display_username": "trypostit",
                          "display_avatar": null,
                          "social_account": {
                            "id": "9c8b7a65-5e4f-4a3b-9c2d-1e0f9a8b7c65",
                            "platform": "pinterest",
                            "display_name": "TryPost",
                            "username": "trypostit",
                            "status": "connected",
                            "has_posting_schedule": true,
                            "timezone": "UTC",
                            "posting_goal": 5,
                            "max_content_length": 800,
                            "long_posts": false,
                            "verified_badge": null
                          }
                        }
                      ],
                      "labels": [
                        {
                          "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                          "name": "Launch",
                          "color": "#2563EB",
                          "created_at": "2026-09-01 10:00:00",
                          "updated_at": "2026-09-01 10:00:00"
                        }
                      ],
                      "created_at": "2026-10-08 13:20:11",
                      "updated_at": "2026-10-08 13:20:11"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post",
        "operationId": "getPost",
        "description": "Returns one post with its destinations and labels.",
        "responses": {
          "200": {
            "description": "The post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "content": "We just shipped scheduled threads. Here is how they work.",
                  "media": [
                    {
                      "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                      "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "type": "image",
                      "mime_type": "image/jpeg",
                      "original_filename": "launch.jpg",
                      "size": 482113,
                      "meta": {
                        "width": 1080,
                        "height": 1350,
                        "alt_text": "Product launch banner"
                      }
                    }
                  ],
                  "status": "scheduled",
                  "schedule_mode": "custom",
                  "scheduled_at": "2026-10-12 14:00:00",
                  "published_at": null,
                  "approval_requested_by": null,
                  "approval_requested_at": null,
                  "approved_by": null,
                  "approved_at": null,
                  "recurrence": null,
                  "origin": "trypost",
                  "platforms": [
                    {
                      "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "meta": {
                        "thread_replies": [
                          {
                            "text": "2/ Replies publish under the first post.",
                            "media": []
                          }
                        ]
                      },
                      "status": "pending",
                      "enabled": true,
                      "platform_url": null,
                      "published_at": null,
                      "error_message": null,
                      "display_name": "TryPost",
                      "display_username": "trypostit",
                      "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                      "social_account": {
                        "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                        "platform": "x",
                        "display_name": "TryPost",
                        "username": "trypostit",
                        "status": "connected",
                        "has_posting_schedule": true,
                        "timezone": "America/Sao_Paulo",
                        "posting_goal": 5,
                        "max_content_length": 280,
                        "long_posts": false,
                        "verified_badge": null
                      }
                    }
                  ],
                  "labels": [
                    {
                      "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                      "name": "Launch",
                      "color": "#2563EB",
                      "created_at": "2026-09-01 10:00:00",
                      "updated_at": "2026-09-01 10:00:00"
                    }
                  ],
                  "created_at": "2026-10-08 13:20:11",
                  "updated_at": "2026-10-08 13:20:11"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Update post",
        "operationId": "updatePost",
        "description": "Updates a post. Only the fields you send change. The social account is fixed (`social_account_id` is refused).\n\nSend the destination's format and settings either as top-level `content_type` and `meta` (the post has one destination), or as `platforms[]` with the destination `id`. `meta` is merged with the stored settings: send `null` for a key to clear it (string, list and object settings; boolean settings cannot be cleared, so send `true` or `false`); `thread_replies` replaces the whole list. `media` replaces the post's media; `label_ids` replaces its labels.\n\n`status: publishing` publishes the post now; `scheduled` schedules it at `scheduled_at`, in the queue (`queue`), or keeps its future `scheduled_at`; `draft` unschedules it (it is no longer published; the last `scheduled_at` stays on the draft). When scheduling or publishing, the content type must fit the media and the required settings must be present.\n\nPosts that are publishing, published, partially published or failed cannot be edited: the request returns `422` with `This post has already been processed and cannot be re-published. Duplicate it to try again.`\n\nPosts with several destinations (created before each channel got its own post) cannot be queued; `platforms` there lists the destinations to keep, and the rest are turned off. On this endpoint an invalid body may answer `422` before the `404` check of a post of another workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 25000,
                    "description": "Post text, at most 25000 characters. When `status` is `scheduled` or `publishing` it must also fit each account's limit (`max_content_length` of the social account, for example 280 on X or 25000 for X accounts with long posts, 300 on Bluesky, 500 on Mastodon including the content warning), measured on the text the network receives. A scheduled or published post needs text or media."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MediaReference"
                    },
                    "description": "Replaces the post's media. Omit it to keep the current media. Media in order. Each item is one of `upload_token`, `url` or `id`. Types the channel does not accept are refused."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled",
                      "publishing"
                    ],
                    "description": "`draft` keeps the post editable. `scheduled` schedules it at `scheduled_at` or in the channel queue (`queue`). `publishing` publishes it now. Omit it to keep the current status."
                  },
                  "content_type": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ContentType"
                      }
                    ],
                    "description": "New format for the post's destination. Omitted, the stored format is kept, except on Pinterest and TikTok where new media decides it as on create."
                  },
                  "meta": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PlatformMeta"
                      }
                    ],
                    "description": "Settings of the post's destination, merged with the stored ones."
                  },
                  "platforms": {
                    "type": "array",
                    "description": "Alternative to top-level `content_type` / `meta`. On a post with several destinations, the destinations not listed are turned off.",
                    "items": {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "An enabled destination of this post (`platforms[].id` in the post)."
                        },
                        "content_type": {
                          "$ref": "#/components/schemas/ContentType"
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PlatformMeta"
                        }
                      }
                    }
                  },
                  "scheduled_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "With `status: scheduled`: required unless `queue` is sent or the post already has a future time; must be in the future and before `2038-01-19`. Cannot be combined with `queue`."
                  },
                  "queue": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "next",
                      "top",
                      null
                    ],
                    "description": "Queue position, only with `status: scheduled`. `next` takes the channel's first free slot; `top` takes its first slot and moves the queued posts behind it to the next gap. The channel must have posting times (`has_posting_schedule`). Cannot be combined with `scheduled_at`. Refused on posts with several destinations."
                  },
                  "label_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Replaces the post's labels."
                  }
                }
              },
              "example": {
                "content": "We just shipped scheduled threads (and a few fixes).",
                "status": "scheduled",
                "queue": "next",
                "meta": {
                  "thread_replies": [
                    {
                      "text": "2/ Replies publish under the first post."
                    },
                    {
                      "text": "3/ Full changelog below.",
                      "media": [
                        {
                          "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "content": "We just shipped scheduled threads (and a few fixes).",
                  "media": [
                    {
                      "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                      "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "type": "image",
                      "mime_type": "image/jpeg",
                      "original_filename": "launch.jpg",
                      "size": 482113,
                      "meta": {
                        "width": 1080,
                        "height": 1350,
                        "alt_text": "Product launch banner"
                      }
                    }
                  ],
                  "status": "scheduled",
                  "schedule_mode": "queue",
                  "scheduled_at": "2026-10-13 12:00:00",
                  "published_at": null,
                  "approval_requested_by": null,
                  "approval_requested_at": null,
                  "approved_by": null,
                  "approved_at": null,
                  "recurrence": null,
                  "origin": "trypost",
                  "platforms": [
                    {
                      "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "meta": {
                        "thread_replies": [
                          {
                            "text": "2/ Replies publish under the first post.",
                            "media": []
                          },
                          {
                            "text": "3/ Full changelog below.",
                            "media": [
                              {
                                "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                                "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                                "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                                "type": "image",
                                "mime_type": "image/jpeg",
                                "original_filename": "launch.jpg",
                                "size": 482113,
                                "meta": {
                                  "width": 1080,
                                  "height": 1350,
                                  "alt_text": "Product launch banner"
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "status": "pending",
                      "enabled": true,
                      "platform_url": null,
                      "published_at": null,
                      "error_message": null,
                      "display_name": "TryPost",
                      "display_username": "trypostit",
                      "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                      "social_account": {
                        "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                        "platform": "x",
                        "display_name": "TryPost",
                        "username": "trypostit",
                        "status": "connected",
                        "has_posting_schedule": true,
                        "timezone": "America/Sao_Paulo",
                        "posting_goal": 5,
                        "max_content_length": 280,
                        "long_posts": false,
                        "verified_badge": null
                      }
                    }
                  ],
                  "labels": [
                    {
                      "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                      "name": "Launch",
                      "color": "#2563EB",
                      "created_at": "2026-09-01 10:00:00",
                      "updated_at": "2026-09-01 10:00:00"
                    }
                  ],
                  "created_at": "2026-10-08 13:20:11",
                  "updated_at": "2026-10-08 15:41:07"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete post",
        "operationId": "deletePost",
        "description": "Deletes a post that has not been sent, with its media. Nothing is removed from the network. Posts that are publishing, published, partially published or failed cannot be deleted: the request returns `422` with `Sent posts cannot be deleted.` on `post`.",
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/metrics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post metrics",
        "operationId": "getPostMetrics",
        "description": "Returns the saved analytics of each enabled destination: the latest daily snapshot TryPost collected from the network. No call is made to the network. LinkedIn, LinkedIn Page, Telegram, Discord and Google Business are not in analytics.",
        "responses": {
          "200": {
            "description": "Metrics per destination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMetrics"
                },
                "example": {
                  "post_id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "platforms": [
                    {
                      "post_platform_id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "status": "published",
                      "platform_post_id": "1843921066571337728",
                      "platform_url": "https://x.com/trypostit/status/1843921066571337728",
                      "metrics": {
                        "available": true,
                        "reason": null,
                        "publication": {
                          "id": "9d4a0b1c-2d3e-4f5a-8b6c-7d8e9f0a1b2c",
                          "post_platform_id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                          "social_account_key": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                          "platform": "x",
                          "origin": "trypost",
                          "content_type": "text",
                          "availability": "available",
                          "provider_published_at": "2026-10-12T14:00:03+00:00",
                          "permalink": "https://x.com/trypostit/status/1843921066571337728",
                          "excerpt": "We just shipped scheduled threads.",
                          "preview_metadata": null,
                          "account_display_name": "TryPost",
                          "account_username": "trypostit",
                          "account_avatar_url": null
                        },
                        "snapshot": {
                          "date": "2026-10-14",
                          "collected_at": "2026-10-14T06:10:00+00:00",
                          "provider_observed_at": "2026-10-14T06:09:58+00:00",
                          "reactions_count": 42,
                          "comments_count": 5,
                          "shares_count": 7,
                          "saves_count": 3,
                          "views_count": null,
                          "impressions_count": 3120,
                          "reach_count": null,
                          "engagement_count": 57,
                          "exposure_count": 3120,
                          "exposure_kind": "impressions",
                          "watch_time_milliseconds": null,
                          "average_watch_time_milliseconds": null
                        },
                        "metrics": {
                          "impressions": {
                            "value": 3120,
                            "unit": "count",
                            "time_basis": "lifetime",
                            "precision": "exact",
                            "availability": "available",
                            "provider_metric": "impression_count",
                            "period_start": null,
                            "period_end": null
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/preview": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post preview",
        "operationId": "getPostPreview",
        "description": "Shows the text each enabled destination will send, after the network's formatting rules, and its length against the account's limit. Nothing is published.",
        "responses": {
          "200": {
            "description": "Preview per destination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPreview"
                },
                "example": {
                  "post_id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "original_content": "We just shipped scheduled threads. Here is how they work.",
                  "original_length": 57,
                  "platforms": [
                    {
                      "post_platform_id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "sanitized_content": "We just shipped scheduled threads. Here is how they work.",
                      "sanitized_length": 57,
                      "max_content_length": 280,
                      "truncated": false,
                      "thread_replies": [
                        {
                          "text": "2/ Replies publish under the first post.",
                          "media": []
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/notes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "get": {
        "tags": [
          "Post notes"
        ],
        "summary": "List post notes",
        "operationId": "listPostNotes",
        "description": "Lists the post's notes, newest first. Page size is set by the server: read `meta.per_page`.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of notes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PostNote"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "9d3c2a10-3b4c-4d5e-8f6a-7b8c9d0e1f2a",
                      "post_id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                      "body": "Can we swap the image for the dark version?",
                      "author": {
                        "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                        "name": "Ana Souza",
                        "photo_url": "https://media.trypost.it/medias/9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e.jpg"
                      },
                      "created_at": "2026-10-08 14:02:45",
                      "updated_at": "2026-10-08 14:02:45"
                    }
                  ],
                  "links": {
                    "first": "https://app.trypost.it/api/posts/9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41/notes?page=1",
                    "last": "https://app.trypost.it/api/posts/9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41/notes?page=1",
                    "prev": null,
                    "next": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {
                        "url": null,
                        "label": "&laquo; Previous",
                        "page": null,
                        "active": false
                      },
                      {
                        "url": "https://app.trypost.it/api/posts/9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41/notes?page=1",
                        "label": "1",
                        "page": 1,
                        "active": true
                      },
                      {
                        "url": null,
                        "label": "Next &raquo;",
                        "page": null,
                        "active": false
                      }
                    ],
                    "path": "https://app.trypost.it/api/posts/9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41/notes",
                    "per_page": 25,
                    "to": 1,
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Post notes"
        ],
        "summary": "Create post note",
        "operationId": "createPostNote",
        "description": "Adds an internal note to a post as the API key's user. Notes are never published. Every other workspace member is emailed about it (unless they turned that email off in their notification preferences); on a post pending approval, only the approvers and the member who asked are.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "maxLength": 2000
                  }
                }
              },
              "example": {
                "body": "Can we swap the image for the dark version?"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created note.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostNote"
                },
                "example": {
                  "id": "9d3c2a10-3b4c-4d5e-8f6a-7b8c9d0e1f2a",
                  "post_id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "body": "Can we swap the image for the dark version?",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza",
                    "photo_url": "https://media.trypost.it/medias/9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e.jpg"
                  },
                  "created_at": "2026-10-08 14:02:45",
                  "updated_at": "2026-10-08 14:02:45"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/notes/{note}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        },
        {
          "$ref": "#/components/parameters/NoteId"
        }
      ],
      "put": {
        "tags": [
          "Post notes"
        ],
        "summary": "Update post note",
        "operationId": "updatePostNote",
        "description": "Changes a note's text. Only the note's author can edit it (`403` with `This action is unauthorized.` otherwise). A note of another post returns `404`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "maxLength": 2000
                  }
                }
              },
              "example": {
                "body": "Can we swap the image for the dark version?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated note.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostNote"
                },
                "example": {
                  "id": "9d3c2a10-3b4c-4d5e-8f6a-7b8c9d0e1f2a",
                  "post_id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "body": "Can we swap the image for the dark version?",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza",
                    "photo_url": "https://media.trypost.it/medias/9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e.jpg"
                  },
                  "created_at": "2026-10-08 14:02:45",
                  "updated_at": "2026-10-08 14:02:45"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Post notes"
        ],
        "summary": "Delete post note",
        "operationId": "deletePostNote",
        "description": "Deletes a note. Only the note's author can delete it (`403` with `This action is unauthorized.` otherwise). A note of another post returns `404`.",
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/approve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Approve post",
        "operationId": "approvePost",
        "description": "Approves a post waiting for approval (`pending_approval`). With an empty body the post is scheduled as requested: in the queue position or at the time the member asked for. Send `scheduled_at` to pick another time, or `publish_now` to publish it now. When the requested time has passed (or the member asked to publish now) and neither is sent, the request fails with `422` on `scheduled_at`: `The requested time has passed. Choose a new time.` A post that is no longer pending fails with `422`: `This post is no longer waiting for approval.` The member who asked is emailed about the decision.\n\nAPI keys belong to workspace admins, who publish directly, so posts created or edited through the API never wait for approval. These endpoints decide the requests of members who need approval.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publish_now": {
                    "type": "boolean",
                    "description": "Publish now instead of at the requested time. Cannot be combined with `scheduled_at`."
                  },
                  "scheduled_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "New time; in the future and before `2038-01-19`. Cannot be combined with `publish_now`."
                  }
                }
              },
              "example": {
                "scheduled_at": "2026-10-13T15:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The approved post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "content": "We just shipped scheduled threads. Here is how they work.",
                  "media": [
                    {
                      "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                      "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "type": "image",
                      "mime_type": "image/jpeg",
                      "original_filename": "launch.jpg",
                      "size": 482113,
                      "meta": {
                        "width": 1080,
                        "height": 1350,
                        "alt_text": "Product launch banner"
                      }
                    }
                  ],
                  "status": "scheduled",
                  "schedule_mode": "custom",
                  "scheduled_at": "2026-10-13 15:00:00",
                  "published_at": null,
                  "approval_requested_by": {
                    "id": "9b4f5a6b-7c8d-4e9f-8a0b-1c2d3e4f5a6b",
                    "name": "Bruno Lima"
                  },
                  "approval_requested_at": "2026-10-08 12:00:00",
                  "approved_by": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "approved_at": "2026-10-08 13:30:00",
                  "recurrence": null,
                  "origin": "trypost",
                  "platforms": [
                    {
                      "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "meta": {
                        "thread_replies": [
                          {
                            "text": "2/ Replies publish under the first post.",
                            "media": []
                          }
                        ]
                      },
                      "status": "pending",
                      "enabled": true,
                      "platform_url": null,
                      "published_at": null,
                      "error_message": null,
                      "display_name": "TryPost",
                      "display_username": "trypostit",
                      "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                      "social_account": {
                        "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                        "platform": "x",
                        "display_name": "TryPost",
                        "username": "trypostit",
                        "status": "connected",
                        "has_posting_schedule": true,
                        "timezone": "America/Sao_Paulo",
                        "posting_goal": 5,
                        "max_content_length": 280,
                        "long_posts": false,
                        "verified_badge": null
                      }
                    }
                  ],
                  "labels": [
                    {
                      "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                      "name": "Launch",
                      "color": "#2563EB",
                      "created_at": "2026-09-01 10:00:00",
                      "updated_at": "2026-09-01 10:00:00"
                    }
                  ],
                  "created_at": "2026-10-08 13:20:11",
                  "updated_at": "2026-10-08 13:30:00"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/reject": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Reject post",
        "operationId": "rejectPost",
        "description": "Rejects a post waiting for approval. The post goes back to `draft`; no reason is stored. The member who asked is emailed about the decision. A post that is no longer pending fails with `422`.\n\nAPI keys belong to workspace admins, who publish directly, so posts created or edited through the API never wait for approval. These endpoints decide the requests of members who need approval.",
        "responses": {
          "200": {
            "description": "The rejected post, now a draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "content": "We just shipped scheduled threads. Here is how they work.",
                  "media": [
                    {
                      "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                      "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "type": "image",
                      "mime_type": "image/jpeg",
                      "original_filename": "launch.jpg",
                      "size": 482113,
                      "meta": {
                        "width": 1080,
                        "height": 1350,
                        "alt_text": "Product launch banner"
                      }
                    }
                  ],
                  "status": "draft",
                  "schedule_mode": null,
                  "scheduled_at": "2026-10-12 14:00:00",
                  "published_at": null,
                  "approval_requested_by": null,
                  "approval_requested_at": null,
                  "approved_by": null,
                  "approved_at": null,
                  "recurrence": null,
                  "origin": "trypost",
                  "platforms": [
                    {
                      "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "meta": {
                        "thread_replies": [
                          {
                            "text": "2/ Replies publish under the first post.",
                            "media": []
                          }
                        ]
                      },
                      "status": "pending",
                      "enabled": true,
                      "platform_url": null,
                      "published_at": null,
                      "error_message": null,
                      "display_name": "TryPost",
                      "display_username": "trypostit",
                      "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                      "social_account": {
                        "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                        "platform": "x",
                        "display_name": "TryPost",
                        "username": "trypostit",
                        "status": "connected",
                        "has_posting_schedule": true,
                        "timezone": "America/Sao_Paulo",
                        "posting_goal": 5,
                        "max_content_length": 280,
                        "long_posts": false,
                        "verified_badge": null
                      }
                    }
                  ],
                  "labels": [
                    {
                      "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                      "name": "Launch",
                      "color": "#2563EB",
                      "created_at": "2026-09-01 10:00:00",
                      "updated_at": "2026-09-01 10:00:00"
                    }
                  ],
                  "created_at": "2026-10-08 13:20:11",
                  "updated_at": "2026-10-08 13:20:11"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/recurrence": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "patch": {
        "tags": [
          "Recurrence"
        ],
        "summary": "Set post recurrence",
        "operationId": "setPostRecurrence",
        "description": "Makes a scheduled post repeat: every `interval` `frequency`, `times` more times after this one. Each occurrence keeps the same local time in the channel's time zone. The post must be `scheduled` with a time, else `422` on `post`: `Only scheduled posts can repeat.` The last occurrence must be before 2038 in every channel's time zone, else `422` on `times`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "interval",
                  "frequency",
                  "times"
                ],
                "properties": {
                  "interval": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365,
                    "description": "Repeat every N `frequency` units."
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year"
                    ]
                  },
                  "times": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "description": "How many times it repeats after this occurrence."
                  }
                }
              },
              "example": {
                "interval": 1,
                "frequency": "week",
                "times": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The post with its repeat rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "content": "We just shipped scheduled threads. Here is how they work.",
                  "media": [
                    {
                      "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                      "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "type": "image",
                      "mime_type": "image/jpeg",
                      "original_filename": "launch.jpg",
                      "size": 482113,
                      "meta": {
                        "width": 1080,
                        "height": 1350,
                        "alt_text": "Product launch banner"
                      }
                    }
                  ],
                  "status": "scheduled",
                  "schedule_mode": "custom",
                  "scheduled_at": "2026-10-12 14:00:00",
                  "published_at": null,
                  "approval_requested_by": null,
                  "approval_requested_at": null,
                  "approved_by": null,
                  "approved_at": null,
                  "recurrence": {
                    "interval": 1,
                    "frequency": "week",
                    "remaining": 4
                  },
                  "origin": "trypost",
                  "platforms": [
                    {
                      "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "meta": {
                        "thread_replies": [
                          {
                            "text": "2/ Replies publish under the first post.",
                            "media": []
                          }
                        ]
                      },
                      "status": "pending",
                      "enabled": true,
                      "platform_url": null,
                      "published_at": null,
                      "error_message": null,
                      "display_name": "TryPost",
                      "display_username": "trypostit",
                      "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                      "social_account": {
                        "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                        "platform": "x",
                        "display_name": "TryPost",
                        "username": "trypostit",
                        "status": "connected",
                        "has_posting_schedule": true,
                        "timezone": "America/Sao_Paulo",
                        "posting_goal": 5,
                        "max_content_length": 280,
                        "long_posts": false,
                        "verified_badge": null
                      }
                    }
                  ],
                  "labels": [
                    {
                      "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                      "name": "Launch",
                      "color": "#2563EB",
                      "created_at": "2026-09-01 10:00:00",
                      "updated_at": "2026-09-01 10:00:00"
                    }
                  ],
                  "created_at": "2026-10-08 13:20:11",
                  "updated_at": "2026-10-08 13:20:11"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Recurrence"
        ],
        "summary": "Remove post recurrence",
        "operationId": "removePostRecurrence",
        "description": "Stops a post from repeating. The post and its next scheduled time stay.",
        "responses": {
          "200": {
            "description": "The post without a repeat rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
                  "id": "9d3c1f2a-6b4e-4c8a-9f1e-2a7b5c8d0e41",
                  "post_group_id": "9d3c1f29-e0a1-4b7c-8d2e-5f6a7b8c9d03",
                  "author": {
                    "id": "9b1e2d3c-4f5a-4b6c-8d7e-9f0a1b2c3d4e",
                    "name": "Ana Souza"
                  },
                  "content": "We just shipped scheduled threads. Here is how they work.",
                  "media": [
                    {
                      "id": "9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f",
                      "path": "medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "url": "https://media.trypost.it/medias/9d3c1f30-8a9b-4c0d-9e1f-2a3b4c5d6e7f.jpg",
                      "type": "image",
                      "mime_type": "image/jpeg",
                      "original_filename": "launch.jpg",
                      "size": 482113,
                      "meta": {
                        "width": 1080,
                        "height": 1350,
                        "alt_text": "Product launch banner"
                      }
                    }
                  ],
                  "status": "scheduled",
                  "schedule_mode": "custom",
                  "scheduled_at": "2026-10-12 14:00:00",
                  "published_at": null,
                  "approval_requested_by": null,
                  "approval_requested_at": null,
                  "approved_by": null,
                  "approved_at": null,
                  "recurrence": null,
                  "origin": "trypost",
                  "platforms": [
                    {
                      "id": "9d3c1f2b-1a2b-4c3d-8e4f-5a6b7c8d9e10",
                      "platform": "x",
                      "content_type": "x_post",
                      "meta": {
                        "thread_replies": [
                          {
                            "text": "2/ Replies publish under the first post.",
                            "media": []
                          }
                        ]
                      },
                      "status": "pending",
                      "enabled": true,
                      "platform_url": null,
                      "published_at": null,
                      "error_message": null,
                      "display_name": "TryPost",
                      "display_username": "trypostit",
                      "display_avatar": "https://pbs.twimg.com/profile_images/1790000000000000000/avatar_400x400.jpg",
                      "social_account": {
                        "id": "9c8b7a65-4d3e-4f2a-8b1c-0d9e8f7a6b54",
                        "platform": "x",
                        "display_name": "TryPost",
                        "username": "trypostit",
                        "status": "connected",
                        "has_posting_schedule": true,
                        "timezone": "America/Sao_Paulo",
                        "posting_goal": 5,
                        "max_content_length": 280,
                        "long_posts": false,
                        "verified_badge": null
                      }
                    }
                  ],
                  "labels": [
                    {
                      "id": "9c0d1e2f-3a4b-4c5d-8e6f-7a8b9c0d1e2f",
                      "name": "Launch",
                      "color": "#2563EB",
                      "created_at": "2026-09-01 10:00:00",
                      "updated_at": "2026-09-01 10:00:00"
                    }
                  ],
                  "created_at": "2026-10-08 13:20:11",
                  "updated_at": "2026-10-08 13:20:11"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{post}/media": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PostId"
        }
      ],
      "post": {
        "tags": [
          "Media and uploads"
        ],
        "summary": "Upload media",
        "operationId": "uploadPostMedia",
        "description": "Uploads one file as `multipart/form-data` and appends it to the post's media. Accepted files: JPEG, PNG, GIF and WebP images (HEIC and HEIF too when the server can convert them, stored as JPEG), MP4 and MOV videos, and PDF documents. Size caps: 10 MB per image (and at most about 67 megapixels, 8192 × 8192 pixels in total), 1 GB per video, 100 MB per PDF. Each network enforces its own, usually smaller, caps when the post is scheduled or published (`GET /content-types`). A type the post's channel does not accept fails with `422`: `This file type is not supported by the post's channel.` Posts that are publishing, published, partially published or failed cannot take media: `422` on `post` with `This post has already been processed and cannot be re-published. Duplicate it to try again.` On Pinterest and TikTok the content type is chosen again from the post's media, as on create.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "media"
                ],
                "properties": {
                  "media": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The post with the new media.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "example": {
[...]
